.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  padding: var(--space-8);
}

.card .status {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: var(--font-weight-medium);
}
